<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Ford Social Photo Submission</name>

	<description>
		Submit your photo to Ford Social
	</description>

	<author 
		email="sefi.grossman@teamdetroit.com">
		Sefi Grossman
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	
	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="landscape" />
	<preference name="stay-in-webview" value="true" />
	
	<access origin="*" />
</widget>
